@import "styles/colors.scss";

.header {
  color: $color-white;
  background-color: $color-primary;
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
